body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'VT323', monospace;
  font-size: 12px;
  background-color: rgb(235, 229, 208);
}

#board {
  /* border: 1vmin solid gray; */
  height: 600px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(235, 220, 185);
}

#title {
  text-align: center;
}

#decodingBoard {
  /* border: 0vmin solid rgb(69, 138, 211); */
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 11;
  height: 600px;
  width: 250px;
}

.keyPegsNodisplay, .keyPegs{
  /* border: 1px solid rgb(98, 32, 203); */
  height: 5vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: white;
}

.keyPegs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.shield, .codePegs {
  /* border: 1px solid rgb(4, 129, 10); */
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.keyPegs > div {
  border-radius: 50%;
  background-color: lightseagreen;
  width: 10px;
  height: 10px;
}

.secretCode, .codePegs > div {
  width: 30px;
  height: 30px;
  background-color: lightseagreen;
  border: 1px solid rgb(154, 172, 155);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
}

.codePegs:hover {
  cursor: pointer;
}

.controlBoard {
  display: flex;
  width: 250px;
  justify-content: space-evenly;
  margin-top: 10px;
}

button {
  width: 40px;
  font-weight: 300;
  font-family: 'VT323', monospace;
  transition: font-weight 250ms ease-in-out;
  font-size: 14px;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: lightseagreen;
  color: white;
}

button:hover {
  cursor: pointer;
  font-weight: 900;
}

.color {
  border: ovmin solid gray;
  border-radius: 50%;
  background-color: gray;
  width: 20px;
  height: 20px;
}

.color:hover {
  cursor: pointer;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#red {
  background-color: red;
}

#black {
  background-color: black;
}

#white {
  background-color: white;
}

h1 {
  margin: 5px;
  letter-spacing: 6px;
  transition: 700ms ease;
  font-variation-settings: "wght" 100;
  font-size: 24px;
  color: white;
  text-align: center;
}

h1:hover {
  font-variation-settings: "wght" 350; 
  letter-spacing: 14px;
}

@media only screen and (min-width: 768px) {
  .text {
    font-size: 16px;
  }
}
